extends layout
block head
    link(rel='stylesheet' href='style.css')
block body
    #wrapper
        div(id="map").hidden-sm
        #tips
          .container-fluid
            .row
                if (currentUser)
                  .col-xs-12
                        legend New Tip
                        .form-group
                            label(for='tip-body') Tip
                            textarea#tip-content.form-control(name='body', placeholder="What's your tip?")
                        .text-right
                            button#tip-submit.btn.btn-primary Submit Tip
                div.tipbox

                    h2 Tips
                    br
                    div.row
                        div.col-xs-12
                            each tip, i in tips
                                p.col-xs-9
                                    small  #{i+1}. <em>#{tip.createdAt}</em> ( #{tip.vote} )

                                    form(action="/tips/#{tip.id}/voteup?_method=PUT" method="POST" )
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-thumbs-up(type="Submit")

                                    form(action="/tips/#{tip.id}/votedown?_method=PUT" method="POST" )
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-thumbs-down(type="Submit")

                                    form(action="/tips/#{tip.id}?_method=DELETE" method="POST" )
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-trash(type="Submit")
                                p.col-xs-9
                                    | #{tip.body}
                                    | by: #{tip.owner}

    block content
    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
