extends layout
block head
    link(rel='stylesheet' href='style.css')
block body
    #wrapper
        div(id="map").hidden-sm
        #tips
          .container-fluid
            .row
                if (currentUser)
                  .col-xs-12
                        legend New Tip
                        .form-group
                            label(for='tip-body') Tip
                            textarea#tip-content.form-control(name='body', placeholder="What's your tip?")
                        .text-right
                            button#tip-submit.btn.btn-primary Submit Tip
                div.tipbox

                    h2 Tips
                    br
                    each tip, i in tips
                        p
                            small  #{i+1}. <em>#{tip.createdAt}</em> ( #{tip.vote} )
                        p
                            | #{tip.body}
                            | by: #{tip.owner}


                        form(action="/tips/#{tip.id}/voteup?_method=PUT" method="POST" )
                            .text-right
                                button.btn.btn-primary(type="Submit") Vote Up

                        form(action="/tips/#{tip.id}/votedown?_method=PUT" method="POST" )
                            .text-right
                                button.btn.btn-primary(type="Submit") Vote Down

                        form(action="/tips/#{tip.id}?_method=DELETE" method="POST" )
                            .text-right
                              button.btn.btn-primary(type="Submit") Delete
    block content
    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
