extends layout
block body
    #wrapper
        div(id="map").hidden-sm
        #tips
          .container-fluid
            .row
                if (currentUser)
                  .col-xs-12
                        legend New Tip
                        .form-group
                            label(for='tip-body') Tip
                            textarea#tip-content.form-control(name='body', placeholder="What's your tip?")
                        .text-right
                            button#tip-submit.btn.btn-primary Submit Tip
                div.tipbox
                    h2 Tips
                    br
                    div.row
                        div.col-xs-12
                          .tipsContainer
                            each tip, i in tips
                              .tip
                                p.col-xs-9
                                    small  #{i+1}. <em>#{tip.createdAt}</em> <small class="tip-vote-count">#{tip.vote}</small>
                                    form.voteup
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-thumbs-up.btn-outline-success(type="Submit")

                                    form.votedown
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-thumbs-down.btn-outline-danger(type="Submit")

                                    form.tip-delete
                                        .text-right.col-xs-1
                                            button.glyphicon.glyphicon-trash.btn-outline-dark(type="Submit")
                                p.col-xs-9
                                    | #{tip.body}
                                    | by: #{tip.User.username}
                                    
                                p.tip-id(hidden)= tip.id

    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
