extends layout

// USE BLOCK CONTENT TO RENDER TEMPLATE
block content
    div.row

        // KEEP CONTENT TO THE LEFT
        // DISPLAY LOGIN OR REGISTER WHEN NOT LOGGED IN
        if (!currentUser)
            div.col-xs-12 Login or register to add a tip

        div.col-xs-12.col-md-8.tip-form
            // DISPLAY FORM ONLY WHEN USER IS LOGGED IN
            if (currentUser)
                form.tip-form-content
                    div.form-group
                        h2(for='tip-body') Tip
                        textarea#tip-content.form-control(name='body', placeholder="What's your tip?")
                    div.form-group
                        h2(for='tip-address') Address of Location ("Leave Empty to use your Current Location")
                        input#tip-address.form-control(type='text', name='address' placeholder='1547 Mission St, San Francisco, CA 94103')
                    div.text-right
                        button#tip-submit.btn.btn-primary Submit Tip

            // ALWAYS DISPLAY TIPS
            div.tipbox
                // div.tipsContainer
                each tip, i in tips
                    div.tip
                        div.col-md-8.col-xs-6
                            small  #{i + 1}.
                            em #{tip.createdAt} //
                            small by: #{tip.User.username} // VOTE COUNT:
                            small.tip-vote-count #{tip.vote}
                            p // #{tip.body}

                            p.tip-id(hidden)=tip.id

                        div.col-md-4.col-md-offset-2.col-xs-6.vote-content
                            if (currentUser)
                                form.col-md-4.col-xs-4.voteup
                                    button.glyphicon.glyphicon-thumbs-up.btn-outline-success.vote(type="Submit")

                                form.col-md-4.col-xs-4.vote.votedown
                                    button.glyphicon.glyphicon-thumbs-down.btn-outline-danger.vote(type="Submit")

                                 // DISPLAY ONLY WHEN USER IS LOGGED IN
                                if (currentUser.id == tip.UserId)
                                    form.col-md-4.col-xs-4.tip-delete
                                        button.glyphicon.glyphicon-trash.btn-outline-dark.delete(type="Submit")

        // div.hidden-sm
        // MAP HERE TO KEEP ON RIGHT SIDE
        div#map.col-xs-12.col-md-4

    script(src='markerclusterer.js')
    script(src='js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaGNPA1AHCW0seaqLolurw0WDxDBccbco&callback=initMap')
